.container {
  font-family: "Nunito Sans", Arial, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
}
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(160, 155, 155, 0.4);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
